<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cvicse.client.isen.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".LoginActivity" ></activity>
        <activity android:name=".InitActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" ></activity>
        
        <!-- ******************** Secret Menu begin ******************** -->
        <activity
			android:name="cvicse.client.isen.framework.secret.LogLevelActivity"
			android:label="@string/label_secret_log_level"
			android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="org.rs.category.SECRET" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="cvicse.client.isen.framework.secret.SysEnvActivity"
			android:label="@string/label_secret_sys_env"
			android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="org.rs.category.SECRET" />
			</intent-filter>
		</activity>
        <!-- ******************** Secret Menu end ******************** -->
    </application>

</manifest>